body {
    background: #0b0b0b; /* Make it white if you need */
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.HeB3u__iDYfu_JBrGZQdfgHaHa%26pid%3DApi&f=1&ipt=9327f9e43470184c66e7ccaae39b6f0153cd7f838d08ef27b263e44a04c0d8e1&ipo=images");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    color: skyblue;
    padding: 0 24px;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
  }
  
  body.light {
    background-color: azure;
    color: #0b0b0b;
  
  }
  
  #header {
    text-align: center;
  }
  
  h1.active {
    color: azure;
    font-family: 'UniqueRegular';
    font-weight: normal;
    font-style: normal;
    background-color: #0b0b0b;
    padding: 0px 0.2em;
  }
  
  
  #cont-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border: solid 0.2em yellowgreen;
    margin: 0 auto;
    width: 7em;
    height: 3em;
    border-radius: 0.3em;
    padding: 0 0.3em;
  }
  
  #cont-1.container-light {
    border: solid 0.2em #0b0b0b;
  }
  
  #leaf-icon {
    margin: auto;
    width: 100%;
    font-size: 2em;
    border-radius: 50%;
  }
  
  .switch {
    align-self: flex-start;
    border: solid 0.2em transparent;
  }
  
  .switch-on {
    align-self: flex-end;
    border: solid 0.2em transparent;
  
  }
  /* hidden container */
  .hidden-container {
    visibility: hidden;
  }
  /* hidden container when visible */
  .visible {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 0.4em 1em;
    align-items: center;
    visibility: visible;
    margin-top: 2em;
    padding-top: 2em;
    padding-bottom: 1.2em;
    border: solid 0.2em #0b0b0b;
    outline: double 5px;
    border-radius: 0.3em;
  }
  #label-user-input {
    grid-column: 2/3;
    grid-row: 1;
    text-align: center;
    padding-left: 3em;
    font-weight: bold;
    font-size: 1.4em;
    border: solid 0.1em;
  }
  #user-input {
    grid-row: 1;
    grid-column: 3/4;
    width: 17em;
    height: 1.7em;
    border: solid 0.3em transparent;
    border-bottom: solid 0.2em #191919;
    box-shadow: 0.1em 0.1em 0.5em grey;
    border-radius: 0.2em; 
    text-align: center;
    accent-color: #0b0b0b;
  }
  #label-size-input {
    grid-row: 2;
    grid-column: 2/3;
    text-align: center;
    padding-left: 3em;
    font-weight: bold;
    font-size: 1.3em;
    border: solid 0.1em;
  }
  #size-input {
    grid-row: 2;
    grid-column: 3/4;
    border: solid 0.1em transparent;
    border-bottom: solid 0.15em #191919;
    box-shadow: 0.3em 0.2em 0.5em lightgrey;
    width: 5em;
    height: 1.5em;
    border-radius: 0.2em;
    text-align: center;
    accent-color: #0b0b0b;
  }
  
  /* remove placeholder on user input */
  #size-input:focus::placeholder {
     opacity: 0;
     transition: opacity .3s;
  }
  #user-input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
  }
  
  #sub-btn {
    grid-row: 3;
    grid-column: 2/4;
    width: 7em;
    height: 2.5em;
    border-radius: 0.3em;
    margin: 0.2em auto;
    font-family: monospace;
    font-size: 1em;
    font-weight: bold;
    background-color: transparent;
    box-shadow: 0.2em 0.2em  lightgrey;
    border: solid 0.1em;
  }
  
  #sub-btn:hover {
    border-bottom: solid 0.2em;
    border-right: solid 0.2em;
  }
  
  #target-link {
    grid-row: 2/3;
    color: black;
    margin: 0 auto;
    visibility: hidden;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    background-color: goldenrod;
    width: 3.5em;
    text-align: center;
    padding: 0.5em;
    border: double 0.5em;
    border-radius: 0.2em;
  }
  
  #target-link:hover {
    text-decoration: solid 0.1em underline;
  }